<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редагування нотатки</title>
</head>
<body>
<h1>Редагувати нотатку</h1>
<form action="/note/edit" method="post">
    <input type="hidden" name="id" th:value="${note.id}">
    <label>Назва: <input type="text" name="title" th:value="${note.title}"></label><br>
    <label>Контент: <textarea name="content" th:text="${note.content}"></textarea></label><br>
    <button type="submit">Зберегти</button>
</form>
</body>
</html>
